{% extends "base.html" %}
{% block title_html %}
    Liste d'appels
{% endblock %}
{% block content %}
    <a class="btn btn-primary btn-block" href="{% url 'calls:new_call_customer' %}" role="button">Nouvel appel</a>

    <h2>Liste d'appels</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Appel</th>
                <th>Noter</th>
            </tr>
        </thead>
        <tbody>
        {% for call in calls %}
            <tr>
                <th scope="row">{{ call }}</th>
                <td>
                    <a class="btn btn-primary" href="{% url 'calls:call_customer_note' call.id %}">Noter</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}